[submodule "projects/glfw/glfw"]
	path = projects/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "projects/imgui/imgui"]
	path = projects/imgui/imgui
	url = https://github.com/ocornut/imgui
